github "Alamofire/Alamofire"
github "gavinbunney/Toucan" "0.3.2"
github "TTTAttributedLabel/TTTAttributedLabel"
github "dzenbot/DZNEmptyDataSet"
github "SwiftyJSON/SwiftyJSON"
github "hackiftekhar/IQKeyboardManager"
github "kishikawakatsumi/KeychainAccess"
